
.nav {
    width: 100vw;
    height: 80px;
    background-color: gainsboro;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-image: url('/img/test.png');
    color: white;
    box-shadow: 1px 1px 10px rgb(12, 12, 157);
}
.perfil {
    height: 30px;
    width: 100px;
    background-color: aquamarine;
    border: none;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;
    border-radius: 4px;
    margin: 2px;
}
.local {
    display: flex;
}