.footer {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(14, 13, 13);
}
.text {
  background-color: black;
  color: white;
  height: 130px;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px white;
}